.dropdown button {
    background: burlywood;
    border: none;
}

.dropdown button:hover {
    background: #f5ab4b;
    border: none;
}

.dropdown button.btn.show.btn-primary.dropdown-toggle{
    background: #f5ab4b;
}